[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cltk = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
scipy = "*"
statsmodels = "*"
tensorflow = "*"
nltk = "*"
six = "*"
gensim = "*"
sklearn = "*"
pyldavis = "*"
ipython = "*"
scikit-learn = "*"
jupyter = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"

[scripts]
word_count = "python word_count.py"
